.post-box{
    position: fixed;
    overflow-y: 1px scroll ;
    overflow-y: 1px;
    top: 53px;
    left: 498px;
    width: 670px;
    height: 684.5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 1px black;
   }
   .following-view-box{
    position: fixed;
    top: 50px;
    width: 670px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px  5px black;
   }
   .followers{
    position: absolute;
    top:-18px;
    left: 70px;
    color: black;
    z-index: 1;
    font-weight: bolder;
   }
   .your-profile{
    position: relative;
    top: 7px;
    left: 3px;
    width: 63px;
    height: 60px;
    border-radius: 100%;
    box-shadow: 0px 0px 2px black;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
   }
   .your-profile2{
    position: relative;
    top: -42px;
    left: 70px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0px 0px 2px black;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
   }
   .your-profile3{
    position: relative;
    top: -92px;
    left: 130px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0px 0px 2px black;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
   }
   .your-profile4{
    position: relative;
    top: -142px;
    left: 190px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0px 0px 2px black;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
   }
   .your-profile5{
    position: relative;
    top: -192px;
    left: 250px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0px 0px 2px black;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
   }
   .your-profile6{
    position: relative;
    top: -242px;
    left: 310px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0px 0px 2px black;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
   }
   .your-profile7{
    position: relative;
    top: -292px;
    left: 370px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0px 0px 2px black;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
   }
   .your-profile8{
    position: relative;
    top: -342px;
    left: 430px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0px 0px 2px black;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
   }
   .your-profile9{
    position: relative;
    top: -392px;
    left: 490px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0px 0px 2px black;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
   }
   .your-profile10{
    position: relative;
    top: -442px;
    left: 550px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0px 0px 2px black;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
   }
   .your-profile11{
    position: relative;
    top: -492px;
    left: 610px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0px 0px 2px black;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
   }