.header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 1px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 10;
 }
 .logo{
    position: fixed;
    top: 0px;
    left: 90px;
    text-align: left;
    color: black;
    font-size: 50px;
    z-index: 10;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
